DJANGO_SETTINGS_MODULE=todo_project.settings.dev
DJANGO_SECRET_KEY=django-insecure-replace-me
POSTGRES_DB=todo_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
